<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>结算页面</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
</style>
</head>
<body>
	<div id="header">
			<img class="logo_img" alt="" src="/static/img/logo.gif" >
			<span class="wel_word">结算</span>
			<div>
				<span>欢迎<span class="um_span">{{.UserName}}</span>光临书城</span>
				<a href="/getCartInfo">购物车</a>
				<a href="/getMyOrder">我的订单</a>
				<a href="/logout">注销</a>&nbsp;&nbsp;
				<a href="/">返回</a>
			</div>
	</div>
	<div id="main">
		<h1>你的订单已结算，OrderID is <span style="color:red">{{.Order.OrderID}}</span></h1>
	</div>
	
	<div id="bottom">
		<span>
			bookstore 算法第一人北大何书文-书文教育 电话微信：15010729356 邮箱：1201220707@pku.edu.cn
		</span>
	</div>
</body>
</html>